node-red/.flows.json.backup
[{"id":"689b4ba7934178f2","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85ed41d1b523eda1","type":"subflow","name":"Notification","info":"3rdParty_DirectionDown_Haptic.caf\n3rdParty_DirectionUp_Haptic.caf\n3rdParty_Failure_Haptic.caf\n3rdParty_Retry_Haptic.caf\n3rdParty_Start_Haptic.caf\n3rdParty_Stop_Haptic.caf\n3rdParty_Success_Haptic.caf\naccess_scan_complete.caf\nAccessSanComplete_Haptic\nacknowledgment_received.caf\nacknowledgment_sent.caf\nalarm.caf\nAlarm_Haptic.caf\nAlarm_Nightstand_Haptic.caf\nAlert_3rdParty_Haptic.caf\nAlert_3rdParty_Salient_Haptic.caf\nAlert_ActivityFriendsGoalAttained_Haptic.caf\nAlert_ActivityGoalAttained_Haptic.caf\nAlert_ActivityGoalAttained_Salient_Haptic.caf\nAlert_ActivityGoalBehind_Haptic.caf\nAlert_ActivityGoalBehind_Salient_Haptic.caf\nAlert_ActivityGoalClose_Haptic.caf\nAlert_BatteryLow_10p_Haptic.caf\nAlert_BatteryLow_5p_Haptic.caf\nAlert_BatteryLow_5p_Salient_Haptic.caf\nAlert_Calendar_Haptic.caf\nAlert_Calendar_Salient_Haptic.caf\nAlert_Health_Haptic.caf\nAlert_Mail_Haptic.caf\nAlert_Mail_Salient_Haptic.caf\nAlert_MapsDirectionsInApp_Haptic.caf\nAlert_Messages_1_Haptic.caf\nAlert_Messages_1_Salient_Haptic.caf\nAlert_Messages_2_Haptic.caf\nAlert_Messages_3_Haptic.caf\nAlert_PassbookBalance_Haptic.caf\nAlert_PassbookGeofence_Haptic.caf\nAlert_PassbookGeofence_Salient_Haptic.caf\nAlert_PhotostreamActivity_Haptic.caf\nAlert_ReminderDue_Haptic.caf\nAlert_ReminderDue_Salient_Haptic.caf\nAlert_SpartanConnected_LowLatency_Haptic.caf\nAlert_SpartanConnecting_Haptic.caf\nAlert_SpartanConnecting_LowLatency_Haptic.caf\nAlert_SpartanDisconnected_LowLatency_Haptic.caf\nAlert_Voicemail_Haptic.caf\nAlert_Voicemail_Salient_Haptic.caf\nAlert_WalkieTalkie_Haptic.caf\nAnticipate.caf\nAutoUnlock_Haptic.caf\nBatteryMagsafe_Haptic.caf\nBeat_Haptic.caf\nbegin_record.caf\nBloom.caf\nBuddyMigrationStart_Haptic.caf\nBuddyPairingFailure_Haptic.caf\nBuddyPairingRemoteConnection_Haptic.caf\nBuddyPairingRemoteTap_Haptic.caf\nBuddyPairingSuccess_Haptic.caf\nbusy_tone_ansi.caf\nbusy_tone_cept.caf\ncall_waiting_tone_ansi.caf\ncall_waiting_tone_cept.caf\nCalypso.caf\ncamera_shutter_burst.caf\ncamera_shutter_burst_begin.caf\ncamera_shutter_burst_end.caf\ncamera_timer_countdown.caf\ncamera_timer_final_second.caf\nCameraCountdownImminent_Haptic.caf\nCameraCountdownTick_Haptic.caf\nCameraShutter_Haptic.caf\nChoo_Choo.caf\nconnect_power.caf\nct-busy.caf\nct-call-waiting.caf\nct-congestion.caf\nct-error.caf\nct-keytone2.caf\nct-path-ack.caf\nDescent.caf\nDetent_Haptic.caf\nDoNotDisturb_Haptic.caf\ndtmf-0.caf\ndtmf-1.caf\ndtmf-2.caf\ndtmf-3.caf\ndtmf-4.caf\ndtmf-5.caf\ndtmf-6.caf\ndtmf-7.caf\ndtmf-8.caf\ndtmf-9.caf\ndtmf-pound.caf\ndtmf-star.caf\nend_call_tone_cept.caf\nend_record.caf\nengage_power.caf\nengage_power_short.caf\nET_BeginNotification_Haptic.caf\nET_BeginNotification_Salient_Haptic.caf\nET_RemoteTap_Receive_Haptic.caf\nET_RemoteTap_Send_Haptic.caf\nFanfare.caf\nfocus_change_app_icon.caf\nfocus_change_keyboard.caf\nfocus_change_large.caf\nfocus_change_small.caf\ngo_to_sleep_alert.caf\nGoToSleep_Haptic.caf\nHealthNotificaiton.caf\nHourlyChime_Haptic.caf\nHummingbirdCompletion_Haptic.caf\nHummingbirdNotification_Haptic.caf\njbl_ambiguous.caf\njbl_begin.caf\njbl_cancel.caf\njbl_confirm.caf\njbl_no_match.caf\nkey_press_click.caf\nkey_press_delete.caf\nkey_press_modifier.caf\nkeyboard_press_clear.caf\nkeyboard_press_delete.caf\nkeyboard_press_normal.caf\nLadder.caf\nlock.caf\nlong_low_short_high.caf\nlow_power.caf\nmail-sent.caf\nMessagesIncoming_Haptic.caf\nMessagesOutgoing_Haptic.caf\nmiddle_9_short_double_low.caf\nMinuet.caf\nmultiway_invitation.caf\nMultiwayInvitation.caf\nMultiwayJoin.caf\nMultiwayLeave.caf\nnavigation_pop.caf\nnavigation_push.caf\nNavigationGenericManeuver_Haptic.caf\nNavigationGenericManeuver_Salient_Haptic.caf\nNavigationLeftTurn_Haptic.caf\nNavigationLeftTurn_Salient_Haptic.caf\nNavigationRightTurn_Haptic.caf\nNavigationRightTurn_Salient_Haptic.caf\nnew-mail.caf\nNews_Flash.caf\nnfc_scan_complete.caf\nNoir.caf\nNotification_Haptic.caf\nNotification_Salient_Haptic.caf\nOnOffPasscodeFailure_Haptic.caf\nOnOffPasscodeUnlock_Haptic.caf\nOnOffPasscodeUnlockCampanion_Haptic.caf\nOrbExit_Haptic.caf\nOrbLayers_Haptic.caf\npayment_failure.caf\npayment_success.caf\nPhoneAnswer_Haptic.caf\nPhoneHangUp_Haptic.caf\nPhoneHold_Haptic.caf\nphotoShutter.caf\nPhotosZoomDetent_Haptic.caf\nPreview_AudioAndHaptic.caf\nQB_Dictation_Haptic.caf\nQB_Dictation_Off_Haptic.caf\nReceivedMessage.caf\nRemoteCameraShutterBurstBegin_Haptic.caf\nRemoteCameraShutterBurstEnd_Haptic.caf\nringback_tone_ansi.caf\nringback_tone_aus.caf\nringback_tone_cept.caf\nringback_tone_hk.caf\nringback_tone_uk.caf\nRingerChanged.caf\nRingtone_2_Ducked_Haptic-sashimi.caf\nRingtone_2_Haptic-sashimi.caf\nRingtone_UK_Haptic.caf\nRingtone_US_Haptic.caf\nRingtoneDucked_UK_Haptic.caf\nRingtoneDucked_US_Haptic.caf\nSalientNotification_Haptic.caf\nSedentaryTimer_Haptic.caf\nSedentaryTimer_Salient_Haptic.caf\nSentMessage.caf\nshake.caf\nSherwood_Forest.caf\nshort_double_high.caf\nshort_double_low.caf\nshort_low_high.caf\nSIMToolkitCallDropped.caf\nSIMToolkitGeneralBeep.caf\nSIMToolkitNegativeACK.caf\nSIMToolkitPositiveACK.caf\nSIMToolkitSMS.caf\nSiriAutoSend_Haptic.caf\nSiriStart_Haptic.caf\nSiriStopFailure_Haptic.caf\nSiriStopSuccess_Haptic.caf\nsms-received1.caf\nsms-received1.caf\nsms-received2.caf\nsms-received3.caf\nsms-received4.caf\nsms-received5.caf\nsms-received6.caf\nSOSEmergencyContactTextPrompt_Haptic.caf\nSOSFallDetection_Haptic-Newton.caf\nSpell.caf\nStockholm_Haptic.caf\nStockholmActive_Haptic.caf\nStockholmActiveSingleCycle_Haptic.caf\nStockholmFailure_Haptic.caf\nStopwatchLap_Haptic.caf\nStopwatchReset_Haptic.caf\nStopwatchStart_Haptic.caf\nStopwatchStop_Haptic.caf\nSuspense.caf\nSwish.caf\nSwTest1_Haptic.caf\nSystemStartup_Haptic.caf\nTelegraph.caf\nTimer_Haptic.caf\nTimerCancel_Haptic.caf\nTimerPause_Haptic.caf\nTimerStart_Haptic.caf\nTimerWheelHoursDetent_Haptic.caf\nTimerWheelMinutesDetent_Haptic.caf\nTink.caf\nTiptoes.caf\nTock.caf\ntweet_sent.caf\nTypewriters.caf\nUISwipe_Haptic.caf\nUISwitch_Off_Haptic.caf\nUISwitch_On_Haptic.caf\nUpdate.caf\nussd.caf\nvc~ended.caf\nvc~invitation-accepted.caf\nvc~ringing.caf\nvc~ringing_watch.caf\nVoiceOver_Click_Haptic.caf\nWalkieTalkieActiveEnd_Haptic.caf\nWalkieTalkieActiveStart_Haptic.caf\nWalkieTalkieReceiveEnd_Haptic.caf\nWalkieTalkieReceiveStart_Haptic.caf\nwarsaw.caf\nWarsaw_Haptic.caf\nwheels_of_time.caf\nWorkoutComplete_Haptic.caf\nWorkoutCompleteAutoDetect.caf\nWorkoutCountdown_Haptic.caf\nWorkoutPaceAbove.caf\nWorkoutPaceBelow.caf\nWorkoutPaused_Haptic.caf\nWorkoutPressStart_Haptic.caf\nWorkoutResumed_Haptic.caf\nWorkoutResumedAutoDetect.caf\nWorkoutSaved_Haptic.caf\nWorkoutSelect_Haptic.caf\nWorkoutStartAutoDetect.caf","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b43de5f2819711c2"}]}],"out":[],"env":[{"name":"title","type":"str","value":"","ui":{"icon":"font-awesome/fa-header","label":{"en-US":"Message title"},"type":"input","opts":{"types":["str"]}}},{"name":"message","type":"str","value":"","ui":{"icon":"font-awesome/fa-envelope-o","type":"input","opts":{"types":["str"]}}},{"name":"user","type":"str","value":"","ui":{"icon":"font-awesome/fa-users","label":{"en-US":"Receiver"},"type":"select","opts":{"opts":[{"l":{"en-US":"Evert-Job"},"v":"ALL_DEVICES"},{"l":{"en-US":"Pascalle"},"v":"mobile_app_iphone_van_pascalle"},{"l":{"en-US":"Alle bewoners"},"v":"ALL_IPHONES"}]}}},{"name":"image","type":"str","value":"","ui":{"icon":"font-awesome/fa-image","label":{"en-US":"Image URL"},"type":"input","opts":{"types":["str"]}}},{"name":"audio","type":"str","value":"","ui":{"icon":"font-awesome/fa-file-audio-o","label":{"en-US":"Custom sound"},"type":"select"}},{"name":"ignore","type":"bool","value":"true","ui":{"icon":"font-awesome/fa-hand-stop-o","label":{"en-US":"Ignore payload?"},"type":"checkbox"}},{"name":"location","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-location-arrow","label":{"en-US":"Request loction?"},"type":"checkbox"}},{"name":"critical?","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-warning","label":{"en-US":"Critical message?"},"type":"checkbox"}}],"meta":{"module":"homeassistant-notification","author":"Toppe <toppe@toppe.nl>","license":"Apache-2.0"},"color":"#3FADB5","inputLabels":["Connect to node that start notification"],"icon":"font-awesome/fa-mobile-phone"},{"id":"54cc4b277fe5ce1b","type":"server","name":"Home Assistant onboard","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"5a5d26f88b8ad3d4","type":"api-call-service","z":"85ed41d1b523eda1","name":"","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"notify","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":40,"wires":[[]]},{"id":"b43de5f2819711c2","type":"function","z":"85ed41d1b523eda1","name":"Do the magic","func":"//Get environment variables\n//Get all the environment variables \nmsg.title = env.get(\"title\");\nmsg.message = env.get(\"message\");\nmsg.receiver = env.get(\"user\");\nmsg.critical = env.get(\"critical?\");\nmsg.locationupdate = env.get(\"location\");\nmsg.imageurl = env.get(\"image\");\nmsg.actiondata = env.get(\"actiondata\");\nmsg.customaudio = env.get(\"audio\");\nmsg.ignore = env.get(\"ignore\");\n\n//Check if all loggedin devices should recieve notification\n//Groups can be created in the configuration.yaml file of HA\n/*if(msg.receiver == 'all'){\n    msg.receiver = 'notify'\n} else if(msg.receiver == 'evert-job'){\n    msg.receiver = 'ALL_DEVICES'\n} else if(msg.receiver == 'iphones'){\n    msg.receiver = 'ALL_IPHONES'\n} */\n\n//Check if input requested a location update\nif(msg.locationupdate){ msg.message = 'request_location_update' }\n\n//Check if msg.payload has content. If so, ignore msg.message\nif(!msg.ignore){\n    msg.message = msg.payload\n}\n\n//Check if msg.message has content. If not, send a warning message.\nif(!msg.message) { msg.message = \"Er wordt een notificatie verstuurd zonder inhoud.\" }\n\n    msg.payload = {\n        data :{ \n        title : msg.title,\n        message : msg.message,\n        data: {\n            push: {\n\n            },\n            actions: [msg.action]\n        }\n    },\n        service : msg.receiver\n    }\n    \n//Check if user supplied a image URL\nif (msg.imageurl) {\n  msg.payload.data.data.image = msg.imageurl\n}\n\n//Check if user supplied a custom sound\nif (msg.customaudio) {\n  msg.payload.data.data.push.sound = msg.customaudio;\n}\n\n//Check if user marked message as critical\nif (msg.critical) {\n    msg.payload.data.data.push.sound = {}\n    msg.payload.data.data.push.sound.sound = \"default\",\n    msg.payload.data.data.push.sound.critical = 1\n    msg.payload.data.data.push.sound.volume = 1\n}\n\n//Remove all other properties \ndelete msg.actiondata\ndelete msg.imageurl\ndelete msg.locationupdate\ndelete msg.critical\ndelete msg.receiver\ndelete msg.message\ndelete msg.title\ndelete msg.action\ndelete msg.customaudio\n\n\n//Return payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":40,"wires":[["5a5d26f88b8ad3d4","7c039b673aba69a8"]]},{"id":"7c039b673aba69a8","type":"debug","z":"85ed41d1b523eda1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"1134967b90fdb63b","type":"inject","z":"689b4ba7934178f2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":220,"wires":[["9029efb9f0d4a634"]]},{"id":"9029efb9f0d4a634","type":"api-call-service","z":"689b4ba7934178f2","name":"","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"persistent_notification","service":"create","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"test\",\"title\":\"test\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":220,"wires":[[]]},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"8e18a2899c9752a9","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"send","v":"test","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":180,"wires":[["79725b070f26b970"]]},{"id":"0c995088ad189014","type":"subflow:85ed41d1b523eda1","z":"f6f2187d.f17ca8","name":"","env":[{"name":"title","value":"Locatie","type":"str"},{"name":"user","value":"mobile_app_iphone_van_pascalle","type":"str"},{"name":"audio","value":null,"type":"str"},{"name":"location","type":"bool","value":"true"}],"x":610,"y":200,"wires":[]},{"id":"79725b070f26b970","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = ''\nmsg.action = {\n    action: \"SET_TRASH_REMINDER\",\n    title: \"Herinner mij\",\n    icon: \"sfsymbols:alarm\",\n    destructive: false,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["0c995088ad189014"]]},{"id":"8ae3466ed43858bd","type":"server-state-changed","z":"f6f2187d.f17ca8","d":true,"name":"Container","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.reminder_voor_container","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":220,"wires":[["9df1360ccef1fa20"],[]]},{"id":"9df1360ccef1fa20","type":"delay","z":"f6f2187d.f17ca8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":240,"y":220,"wires":[["79725b070f26b970","9b48341b99d9fc36"]]},{"id":"9b48341b99d9fc36","type":"api-call-service","z":"f6f2187d.f17ca8","name":"","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.reminder_voor_container"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":260,"wires":[[]]},{"id":"9970bb2fb662b361","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":460,"wires":[["8272c7c8f4fd2738"]]},{"id":"8272c7c8f4fd2738","type":"subflow:85ed41d1b523eda1","z":"f6f2187d.f17ca8","name":"","env":[{"name":"title","value":"Container ","type":"str"},{"name":"message","value":"Naar straat","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"},{"name":"critical?","type":"bool","value":"true"}],"x":390,"y":460,"wires":[]},{"id":"697f95f0043bd438","type":"server-events","z":"f6f2187d.f17ca8","name":"","server":"54cc4b277fe5ce1b","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":200,"y":360,"wires":[["d83b5de43c3edf82"]]},{"id":"b115d5d19c689907","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":360,"wires":[]},{"id":"d83b5de43c3edf82","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"SET_TRASH_REMINDER","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":360,"wires":[["c1e09418f604b394"]]},{"id":"c1e09418f604b394","type":"api-call-service","z":"f6f2187d.f17ca8","name":"","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.reminder_voor_container"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":360,"wires":[["b115d5d19c689907"]]},{"id":"69dbeead7da595b0","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":560,"wires":[[]]},{"id":"0cea3f142fde6130","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":560,"wires":[["60c0cd3e129787c0"]]},{"id":"60c0cd3e129787c0","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":560,"wires":[[]]},{"id":"a6dd251664a8fb1a","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":240,"wires":[]}]