node-red/.flows.json.backup
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"0163d6a8b984ac4d","type":"tab","label":"Magic box!","disabled":false,"info":"","env":[]},{"id":"33fd8a5866fcd1ef","type":"tab","label":"Playground","disabled":false,"info":"","env":[]},{"id":"e6ef61aa9f0158b5","type":"tab","label":"Airco","disabled":false,"info":"","env":[]},{"id":"385d649a05383db8","type":"tab","label":"UPS","disabled":false,"info":"","env":[]},{"id":"57ce8cd6577bd517","type":"tab","label":"Henk","disabled":false,"info":"","env":[]},{"id":"ba23f943061d18c1","type":"tab","label":"Delayed timer","disabled":false,"info":"","env":[]},{"id":"cc33deae09e93cdb","type":"tab","label":"Device Checks","disabled":false,"info":"Flow that monitors the devices.","env":[]},{"id":"85ed41d1b523eda1","type":"subflow","name":"Notification","info":"3rdParty_DirectionDown_Haptic.caf\n3rdParty_DirectionUp_Haptic.caf\n3rdParty_Failure_Haptic.caf\n3rdParty_Retry_Haptic.caf\n3rdParty_Start_Haptic.caf\n3rdParty_Stop_Haptic.caf\n3rdParty_Success_Haptic.caf\naccess_scan_complete.caf\nAccessSanComplete_Haptic\nacknowledgment_received.caf\nacknowledgment_sent.caf\nalarm.caf\nAlarm_Haptic.caf\nAlarm_Nightstand_Haptic.caf\nAlert_3rdParty_Haptic.caf\nAlert_3rdParty_Salient_Haptic.caf\nAlert_ActivityFriendsGoalAttained_Haptic.caf\nAlert_ActivityGoalAttained_Haptic.caf\nAlert_ActivityGoalAttained_Salient_Haptic.caf\nAlert_ActivityGoalBehind_Haptic.caf\nAlert_ActivityGoalBehind_Salient_Haptic.caf\nAlert_ActivityGoalClose_Haptic.caf\nAlert_BatteryLow_10p_Haptic.caf\nAlert_BatteryLow_5p_Haptic.caf\nAlert_BatteryLow_5p_Salient_Haptic.caf\nAlert_Calendar_Haptic.caf\nAlert_Calendar_Salient_Haptic.caf\nAlert_Health_Haptic.caf\nAlert_Mail_Haptic.caf\nAlert_Mail_Salient_Haptic.caf\nAlert_MapsDirectionsInApp_Haptic.caf\nAlert_Messages_1_Haptic.caf\nAlert_Messages_1_Salient_Haptic.caf\nAlert_Messages_2_Haptic.caf\nAlert_Messages_3_Haptic.caf\nAlert_PassbookBalance_Haptic.caf\nAlert_PassbookGeofence_Haptic.caf\nAlert_PassbookGeofence_Salient_Haptic.caf\nAlert_PhotostreamActivity_Haptic.caf\nAlert_ReminderDue_Haptic.caf\nAlert_ReminderDue_Salient_Haptic.caf\nAlert_SpartanConnected_LowLatency_Haptic.caf\nAlert_SpartanConnecting_Haptic.caf\nAlert_SpartanConnecting_LowLatency_Haptic.caf\nAlert_SpartanDisconnected_LowLatency_Haptic.caf\nAlert_Voicemail_Haptic.caf\nAlert_Voicemail_Salient_Haptic.caf\nAlert_WalkieTalkie_Haptic.caf\nAnticipate.caf\nAutoUnlock_Haptic.caf\nBatteryMagsafe_Haptic.caf\nBeat_Haptic.caf\nbegin_record.caf\nBloom.caf\nBuddyMigrationStart_Haptic.caf\nBuddyPairingFailure_Haptic.caf\nBuddyPairingRemoteConnection_Haptic.caf\nBuddyPairingRemoteTap_Haptic.caf\nBuddyPairingSuccess_Haptic.caf\nbusy_tone_ansi.caf\nbusy_tone_cept.caf\ncall_waiting_tone_ansi.caf\ncall_waiting_tone_cept.caf\nCalypso.caf\ncamera_shutter_burst.caf\ncamera_shutter_burst_begin.caf\ncamera_shutter_burst_end.caf\ncamera_timer_countdown.caf\ncamera_timer_final_second.caf\nCameraCountdownImminent_Haptic.caf\nCameraCountdownTick_Haptic.caf\nCameraShutter_Haptic.caf\nChoo_Choo.caf\nconnect_power.caf\nct-busy.caf\nct-call-waiting.caf\nct-congestion.caf\nct-error.caf\nct-keytone2.caf\nct-path-ack.caf\nDescent.caf\nDetent_Haptic.caf\nDoNotDisturb_Haptic.caf\ndtmf-0.caf\ndtmf-1.caf\ndtmf-2.caf\ndtmf-3.caf\ndtmf-4.caf\ndtmf-5.caf\ndtmf-6.caf\ndtmf-7.caf\ndtmf-8.caf\ndtmf-9.caf\ndtmf-pound.caf\ndtmf-star.caf\nend_call_tone_cept.caf\nend_record.caf\nengage_power.caf\nengage_power_short.caf\nET_BeginNotification_Haptic.caf\nET_BeginNotification_Salient_Haptic.caf\nET_RemoteTap_Receive_Haptic.caf\nET_RemoteTap_Send_Haptic.caf\nFanfare.caf\nfocus_change_app_icon.caf\nfocus_change_keyboard.caf\nfocus_change_large.caf\nfocus_change_small.caf\ngo_to_sleep_alert.caf\nGoToSleep_Haptic.caf\nHealthNotificaiton.caf\nHourlyChime_Haptic.caf\nHummingbirdCompletion_Haptic.caf\nHummingbirdNotification_Haptic.caf\njbl_ambiguous.caf\njbl_begin.caf\njbl_cancel.caf\njbl_confirm.caf\njbl_no_match.caf\nkey_press_click.caf\nkey_press_delete.caf\nkey_press_modifier.caf\nkeyboard_press_clear.caf\nkeyboard_press_delete.caf\nkeyboard_press_normal.caf\nLadder.caf\nlock.caf\nlong_low_short_high.caf\nlow_power.caf\nmail-sent.caf\nMessagesIncoming_Haptic.caf\nMessagesOutgoing_Haptic.caf\nmiddle_9_short_double_low.caf\nMinuet.caf\nmultiway_invitation.caf\nMultiwayInvitation.caf\nMultiwayJoin.caf\nMultiwayLeave.caf\nnavigation_pop.caf\nnavigation_push.caf\nNavigationGenericManeuver_Haptic.caf\nNavigationGenericManeuver_Salient_Haptic.caf\nNavigationLeftTurn_Haptic.caf\nNavigationLeftTurn_Salient_Haptic.caf\nNavigationRightTurn_Haptic.caf\nNavigationRightTurn_Salient_Haptic.caf\nnew-mail.caf\nNews_Flash.caf\nnfc_scan_complete.caf\nNoir.caf\nNotification_Haptic.caf\nNotification_Salient_Haptic.caf\nOnOffPasscodeFailure_Haptic.caf\nOnOffPasscodeUnlock_Haptic.caf\nOnOffPasscodeUnlockCampanion_Haptic.caf\nOrbExit_Haptic.caf\nOrbLayers_Haptic.caf\npayment_failure.caf\npayment_success.caf\nPhoneAnswer_Haptic.caf\nPhoneHangUp_Haptic.caf\nPhoneHold_Haptic.caf\nphotoShutter.caf\nPhotosZoomDetent_Haptic.caf\nPreview_AudioAndHaptic.caf\nQB_Dictation_Haptic.caf\nQB_Dictation_Off_Haptic.caf\nReceivedMessage.caf\nRemoteCameraShutterBurstBegin_Haptic.caf\nRemoteCameraShutterBurstEnd_Haptic.caf\nringback_tone_ansi.caf\nringback_tone_aus.caf\nringback_tone_cept.caf\nringback_tone_hk.caf\nringback_tone_uk.caf\nRingerChanged.caf\nRingtone_2_Ducked_Haptic-sashimi.caf\nRingtone_2_Haptic-sashimi.caf\nRingtone_UK_Haptic.caf\nRingtone_US_Haptic.caf\nRingtoneDucked_UK_Haptic.caf\nRingtoneDucked_US_Haptic.caf\nSalientNotification_Haptic.caf\nSedentaryTimer_Haptic.caf\nSedentaryTimer_Salient_Haptic.caf\nSentMessage.caf\nshake.caf\nSherwood_Forest.caf\nshort_double_high.caf\nshort_double_low.caf\nshort_low_high.caf\nSIMToolkitCallDropped.caf\nSIMToolkitGeneralBeep.caf\nSIMToolkitNegativeACK.caf\nSIMToolkitPositiveACK.caf\nSIMToolkitSMS.caf\nSiriAutoSend_Haptic.caf\nSiriStart_Haptic.caf\nSiriStopFailure_Haptic.caf\nSiriStopSuccess_Haptic.caf\nsms-received1.caf\nsms-received1.caf\nsms-received2.caf\nsms-received3.caf\nsms-received4.caf\nsms-received5.caf\nsms-received6.caf\nSOSEmergencyContactTextPrompt_Haptic.caf\nSOSFallDetection_Haptic-Newton.caf\nSpell.caf\nStockholm_Haptic.caf\nStockholmActive_Haptic.caf\nStockholmActiveSingleCycle_Haptic.caf\nStockholmFailure_Haptic.caf\nStopwatchLap_Haptic.caf\nStopwatchReset_Haptic.caf\nStopwatchStart_Haptic.caf\nStopwatchStop_Haptic.caf\nSuspense.caf\nSwish.caf\nSwTest1_Haptic.caf\nSystemStartup_Haptic.caf\nTelegraph.caf\nTimer_Haptic.caf\nTimerCancel_Haptic.caf\nTimerPause_Haptic.caf\nTimerStart_Haptic.caf\nTimerWheelHoursDetent_Haptic.caf\nTimerWheelMinutesDetent_Haptic.caf\nTink.caf\nTiptoes.caf\nTock.caf\ntweet_sent.caf\nTypewriters.caf\nUISwipe_Haptic.caf\nUISwitch_Off_Haptic.caf\nUISwitch_On_Haptic.caf\nUpdate.caf\nussd.caf\nvc~ended.caf\nvc~invitation-accepted.caf\nvc~ringing.caf\nvc~ringing_watch.caf\nVoiceOver_Click_Haptic.caf\nWalkieTalkieActiveEnd_Haptic.caf\nWalkieTalkieActiveStart_Haptic.caf\nWalkieTalkieReceiveEnd_Haptic.caf\nWalkieTalkieReceiveStart_Haptic.caf\nwarsaw.caf\nWarsaw_Haptic.caf\nwheels_of_time.caf\nWorkoutComplete_Haptic.caf\nWorkoutCompleteAutoDetect.caf\nWorkoutCountdown_Haptic.caf\nWorkoutPaceAbove.caf\nWorkoutPaceBelow.caf\nWorkoutPaused_Haptic.caf\nWorkoutPressStart_Haptic.caf\nWorkoutResumed_Haptic.caf\nWorkoutResumedAutoDetect.caf\nWorkoutSaved_Haptic.caf\nWorkoutSelect_Haptic.caf\nWorkoutStartAutoDetect.caf","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b43de5f2819711c2"}]}],"out":[],"env":[{"name":"title","type":"str","value":"","ui":{"icon":"font-awesome/fa-header","label":{"en-US":"Message title"},"type":"input","opts":{"types":["str"]}}},{"name":"message","type":"str","value":"","ui":{"icon":"font-awesome/fa-envelope-o","type":"input","opts":{"types":["str"]}}},{"name":"user","type":"str","value":"","ui":{"icon":"font-awesome/fa-users","label":{"en-US":"Receiver"},"type":"select","opts":{"opts":[{"l":{"en-US":"Evert-Job"},"v":"ALL_DEVICES"},{"l":{"en-US":"Pascalle"},"v":"mobile_app_iphone_van_pascalle"},{"l":{"en-US":"Alle bewoners"},"v":"ALL_IPHONES"}]}}},{"name":"image","type":"str","value":"","ui":{"icon":"font-awesome/fa-image","label":{"en-US":"Image URL"},"type":"input","opts":{"types":["str"]}}},{"name":"audio","type":"str","value":"","ui":{"icon":"font-awesome/fa-file-audio-o","label":{"en-US":"Custom sound"},"type":"select"}},{"name":"ignore","type":"bool","value":"true","ui":{"icon":"font-awesome/fa-hand-stop-o","label":{"en-US":"Ignore payload?"},"type":"checkbox"}},{"name":"location","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-location-arrow","label":{"en-US":"Request loction?"},"type":"checkbox"}},{"name":"critical?","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-warning","label":{"en-US":"Critical message?"},"type":"checkbox"}}],"meta":{"module":"homeassistant-notification","author":"Toppe <toppe@toppe.nl>","license":"Apache-2.0"},"color":"#3FADB5","inputLabels":["Connect to node that start notification"],"icon":"font-awesome/fa-mobile-phone"},{"id":"e14e33cc9b20a2bf","type":"group","z":"385d649a05383db8","name":"Check UPS Status","style":{"stroke":"#ff0000","fill":"#ffcf3f","label":true,"color":"#000000","label-position":"n"},"nodes":["4d27dc55439cb85b","c769660d21596c55","d002b406a289fdc9","35705c00722cc90b","57f673e5b28557a3","2a8ffce54a21da86"],"x":14,"y":19},{"id":"68fbcc91e05cdd81","type":"group","z":"57ce8cd6577bd517","name":"Check for errors","style":{"label":true},"nodes":["78f8ebbd96c8f7af","fdf4152add7643a6","83404de2c2fa66d4","a856af6fa759564e","188506382b35a36d","91fa4e4d88e1d80a"],"x":24,"y":39},{"id":"8a80517b718cac99","type":"group","z":"57ce8cd6577bd517","name":"Check for rain","style":{"label":true},"nodes":["399554d66e04e253","ef9f3f794af681be","da1b36df1928cbb4"],"x":34,"y":239},{"id":"148112d6d372679e","type":"group","z":"cc33deae09e93cdb","name":"Controleer batterijen van het kattenluik","style":{"stroke":"#ff0000","fill":"#ffcf3f","label":true,"label-position":"n","color":"#000000"},"nodes":["5500ad26861a3bd9","62e67ffd288c9316"],"x":14,"y":199},{"id":"3cfdfdfdf372d50c","type":"group","z":"cc33deae09e93cdb","name":"Get trash notifications","style":{"stroke":"#ff0000","fill":"#ffcf3f","label":true,"label-position":"n","color":"#000000"},"nodes":["50802c1c76405452","d732ecb364e953a9","fb092eaa26917148","372fe1cf15fa4782","aa83e69f4bda57fb","b17e71e6e2012981","c5f068e7f51618c2","f0414acbada27bdd","f6dcb11404dabd19","f0c6703a4e674cee"],"x":14,"y":439},{"id":"200be68cebd586fd","type":"group","z":"cc33deae09e93cdb","name":"Check for update and notify","style":{"stroke":"#ff0000","fill":"#ffcf3f","label":true,"label-position":"n","color":"#000000"},"nodes":["28231bb4a27f0ff0","800bb022c9270f43","901ca7638ea1c916","7a87c077fc79bee7"],"x":594,"y":199},{"id":"cf0a2a78d3d9302c","type":"group","z":"cc33deae09e93cdb","name":"Sureflap hub status","style":{"stroke":"#ff0000","fill":"#ffcf3f","label":true,"label-position":"n","color":"#000000"},"nodes":["584446c20a324351","6823e0ddda1e8d62","c595d2e551807379"],"x":34,"y":299},{"id":"54cc4b277fe5ce1b","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"7c03f1eed8ee8bc2","type":"ha-entity-config","server":"54cc4b277fe5ce1b","name":"test","version":2,"haConfig":[{"property":"name","value":"test"},{"property":"icon","value":""},{"property":"device_class","value":""}],"entityType":"button"},{"id":"5a5d26f88b8ad3d4","type":"api-call-service","z":"85ed41d1b523eda1","name":"","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"notify","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":40,"wires":[[]]},{"id":"b43de5f2819711c2","type":"function","z":"85ed41d1b523eda1","name":"Do the magic","func":"//Get environment variables\n//Get all the environment variables \nmsg.title = env.get(\"title\");\nmsg.message = env.get(\"message\");\nmsg.receiver = env.get(\"user\");\nmsg.critical = env.get(\"critical?\");\nmsg.locationupdate = env.get(\"location\");\nmsg.imageurl = env.get(\"image\");\nmsg.actiondata = env.get(\"actiondata\");\nmsg.customaudio = env.get(\"audio\");\nmsg.ignore = env.get(\"ignore\");\n\n//Check if all loggedin devices should recieve notification\n//Groups can be created in the configuration.yaml file of HA\n/*if(msg.receiver == 'all'){\n    msg.receiver = 'notify'\n} else if(msg.receiver == 'evert-job'){\n    msg.receiver = 'ALL_DEVICES'\n} else if(msg.receiver == 'iphones'){\n    msg.receiver = 'ALL_IPHONES'\n} */\n\n//Check if input requested a location update\nif(msg.locationupdate){ msg.message = 'request_location_update' }\n\n//Check if msg.payload has content. If so, ignore msg.message\nif(!msg.ignore){\n    msg.message = msg.payload\n}\n\n//Check if msg.message has content. If not, send a warning message.\nif(!msg.message) { msg.message = \"Er wordt een notificatie verstuurd zonder inhoud.\" }\n\n    msg.payload = {\n        data :{ \n        title : msg.title,\n        message : msg.message,\n        data: {\n            push: {\n\n            },\n            actions: [msg.action]\n        }\n    },\n        service : msg.receiver\n    }\n    \n//Check if user supplied a image URL\nif (msg.imageurl) {\n  msg.payload.data.data.image = msg.imageurl\n}\n\n//Check if user supplied a custom sound\nif (msg.customaudio) {\n  msg.payload.data.data.push.sound = msg.customaudio;\n}\n\n//Check if user marked message as critical\nif (msg.critical) {\n    msg.payload.data.data.push.sound = {}\n    msg.payload.data.data.push.sound.sound = \"default\",\n    msg.payload.data.data.push.sound.critical = 1\n    msg.payload.data.data.push.sound.volume = 1\n}\n\n//Remove all other properties \ndelete msg.actiondata\ndelete msg.imageurl\ndelete msg.locationupdate\ndelete msg.critical\ndelete msg.receiver\ndelete msg.message\ndelete msg.title\ndelete msg.action\ndelete msg.customaudio\n\n\n//Return payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":40,"wires":[["5a5d26f88b8ad3d4","7c039b673aba69a8"]]},{"id":"7c039b673aba69a8","type":"debug","z":"85ed41d1b523eda1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"8e18a2899c9752a9","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"send","v":"test","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":180,"wires":[["79725b070f26b970"]]},{"id":"0c995088ad189014","type":"subflow:85ed41d1b523eda1","z":"f6f2187d.f17ca8","name":"","env":[{"name":"title","value":"Locatie","type":"str"},{"name":"user","value":"mobile_app_iphone_van_pascalle","type":"str"},{"name":"audio","value":null,"type":"str"},{"name":"location","type":"bool","value":"true"}],"x":610,"y":200,"wires":[]},{"id":"79725b070f26b970","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = ''\nmsg.action = {\n    action: \"SET_TRASH_REMINDER\",\n    title: \"Herinner mij\",\n    icon: \"sfsymbols:alarm\",\n    destructive: false,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["0c995088ad189014"]]},{"id":"8ae3466ed43858bd","type":"server-state-changed","z":"f6f2187d.f17ca8","name":"Container","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.reminder_voor_container","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":220,"wires":[["9df1360ccef1fa20"],[]]},{"id":"9df1360ccef1fa20","type":"delay","z":"f6f2187d.f17ca8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":240,"y":220,"wires":[["79725b070f26b970","9b48341b99d9fc36"]]},{"id":"9b48341b99d9fc36","type":"api-call-service","z":"f6f2187d.f17ca8","name":"","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.reminder_voor_container"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":260,"wires":[[]]},{"id":"9970bb2fb662b361","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":460,"wires":[["8272c7c8f4fd2738"]]},{"id":"8272c7c8f4fd2738","type":"subflow:85ed41d1b523eda1","z":"f6f2187d.f17ca8","name":"","env":[{"name":"title","value":"Container ","type":"str"},{"name":"message","value":"Naar straat","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"},{"name":"critical?","type":"bool","value":"true"}],"x":390,"y":460,"wires":[]},{"id":"697f95f0043bd438","type":"server-events","z":"f6f2187d.f17ca8","name":"","server":"54cc4b277fe5ce1b","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":200,"y":360,"wires":[["d83b5de43c3edf82"]]},{"id":"b115d5d19c689907","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":360,"wires":[]},{"id":"d83b5de43c3edf82","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"SET_TRASH_REMINDER","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":360,"wires":[["c1e09418f604b394"]]},{"id":"c1e09418f604b394","type":"api-call-service","z":"f6f2187d.f17ca8","name":"","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.reminder_voor_container"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":360,"wires":[["b115d5d19c689907"]]},{"id":"69dbeead7da595b0","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":560,"wires":[[]]},{"id":"0cea3f142fde6130","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":560,"wires":[["60c0cd3e129787c0"]]},{"id":"60c0cd3e129787c0","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":560,"wires":[[]]},{"id":"a6dd251664a8fb1a","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":240,"wires":[]},{"id":"c882f82772f42e03","type":"ha-button","z":"f6f2187d.f17ca8","name":"","version":0,"debugenabled":false,"outputs":1,"entityConfig":"7c03f1eed8ee8bc2","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":90,"y":640,"wires":[[]]},{"id":"31efbffa73090893","type":"server-state-changed","z":"0163d6a8b984ac4d","name":"","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor\\.tgtg_[a-zA-Z]+","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":80,"wires":[["904102723cdf9310"],[]]},{"id":"904102723cdf9310","type":"function","z":"0163d6a8b984ac4d","name":"","func":"var list = {\n    \"323221\":   \"Bakker Bart - Hoogezand\",\n    \"323243\":   \"Bakker Bart - Veendam\",\n    \"562093\":   \"Bakkerij Geertsema - Muntendam\",\n    \"56261\":    \"Bakkerij Riedstra - Veendam\",\n    \"56284\":    \"Bakkerij Riedstra - Zuidbroek\",\n    \"54308\":    \"Coop - Harkstede\",\n    \"386462\":   \"Coop - Muntendam - Broodbox\",\n    \"46046\":    \"Coop - Muntendam\",\n    \"386502\":   \"Coop - Zuidbroek - Broodbox\",\n    \"46043\":    \"Coop - Zuidbroek\",\n    \"381578\":   \"Coop - Wildervank - Broodbox\",\n    \"45951\":    \"Coop - Wildervank\",\n    \"450520\":   \"Dallinga - Zuidbroek - Groente en fruit\",\n    \"10002\":    \"De Gezonde Apotheker - Veendam - Groente en fuit\",\n    \"591202\":   \"De Groene Hoek - Muntendam\",\n    \"63111\":    \"Hema - Veendam\",\n    \"205238\":   \"Lidl - Hoogezand - Groente en fruit\",\n    \"205480\":   \"Lidl - Sappemeer - Groente en fruit\",\n    \"205509\":   \"Lidl - Veendam - Groente en fruit\",\n    \"447505\":   \"Albert Heijn - Groningen, Rijksweg\",\n    \"10780\":    \"Makro - Groningen\"\n}\n\nmsg.shop = list[msg.data.new_state.attributes[\"Item ID\"]]\n\nif(!msg.shop || msg.shop == \"undefined\"){\n    msg.data.new_state.attributes.friendly_name\n}\n\nmsg.payload = msg.payload+\" keer een TGTG box bij \"+msg.shop+\". Snel zijn!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":80,"wires":[["0101a15e82a91721"]]},{"id":"50c1d0ac9c1d8193","type":"inject","z":"0163d6a8b984ac4d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":340,"wires":[["41036d94ac228b3b"]]},{"id":"41036d94ac228b3b","type":"api-call-service","z":"0163d6a8b984ac4d","name":"","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"persistent_notification","service":"create","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"test\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":340,"wires":[[]]},{"id":"0101a15e82a91721","type":"subflow:85ed41d1b523eda1","z":"0163d6a8b984ac4d","name":"","env":[{"name":"title","value":"Magic box!","type":"str"},{"name":"user","value":"ALL_IPHONES","type":"str"},{"name":"audio","value":null,"type":"str"},{"name":"ignore","type":"bool","value":"false"}],"x":570,"y":80,"wires":[]},{"id":"3aae8a2afbaa6d2d","type":"server-state-changed","z":"33fd8a5866fcd1ef","name":"Verlichting badkamer","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":80,"wires":[["d31d7dadd8a57f85"],[]]},{"id":"d3c85b46e0a7b1dc","type":"api-current-state","z":"33fd8a5866fcd1ef","name":"","server":"54cc4b277fe5ce1b","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.entree_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":760,"wires":[["f7cdcaeb4db6669a","0f58a28360ac29c5"]]},{"id":"e5bb94c7b055f6ea","type":"inject","z":"33fd8a5866fcd1ef","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":760,"wires":[["d3c85b46e0a7b1dc"]]},{"id":"f7cdcaeb4db6669a","type":"debug","z":"33fd8a5866fcd1ef","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":760,"wires":[]},{"id":"0f58a28360ac29c5","type":"function","z":"33fd8a5866fcd1ef","name":"","func":"msg.payload = \"Lampje aan\"\nmsg.action = {\n    action: \"{\\\"test\\\":\\\"Ja\\\"}\",\n    title: \"Schakel uit\",\n    icon: \"sfsymbols:poweroff\",\n    destructive: false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":880,"wires":[["f7cdcaeb4db6669a","b270941a6f4acc1e"]]},{"id":"d31d7dadd8a57f85","type":"function","z":"33fd8a5866fcd1ef","name":"","func":"msg.payload = \"Verlichting in \"+msg.data.new_state.attributes.friendly_name+\" staat nog aan!\"\nmsg.action = {\n    action: msg.data.entity_id,\n    title: \"Schakel uit\",\n    icon: \"sfsymbols:alarm\",\n    destructive: false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":140,"wires":[["7220c73fe232edb5"]]},{"id":"d1939cb61c21f91b","type":"server-state-changed","z":"33fd8a5866fcd1ef","name":"Verlichting Entree","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":120,"wires":[["d31d7dadd8a57f85"],[]]},{"id":"acc0527ef45232ac","type":"server-events","z":"33fd8a5866fcd1ef","name":"Check for response","server":"54cc4b277fe5ce1b","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":110,"y":260,"wires":[["6fc8e3d124e5611a"]]},{"id":"6fc8e3d124e5611a","type":"switch","z":"33fd8a5866fcd1ef","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"light.entree_2","vt":"str"},{"t":"eq","v":"light.badkamer","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":260,"wires":[["30410270c6de65e9"],["30410270c6de65e9"]]},{"id":"30410270c6de65e9","type":"api-call-service","z":"33fd8a5866fcd1ef","name":"","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"entity_id\": $join(payload.event.action, \",\") }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":260,"wires":[[]]},{"id":"38024c72c0425461","type":"server-state-changed","z":"33fd8a5866fcd1ef","name":"Slaapkamer F","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":160,"wires":[["d31d7dadd8a57f85"],[]]},{"id":"5a240e31ae75ab7c","type":"server-state-changed","z":"33fd8a5866fcd1ef","name":"Slaapkamer F","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":200,"wires":[["d31d7dadd8a57f85"],[]]},{"id":"7220c73fe232edb5","type":"subflow:85ed41d1b523eda1","z":"33fd8a5866fcd1ef","name":"","env":[{"name":"title","value":"Verlichting","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"},{"name":"ignore","type":"bool","value":"false"}],"x":490,"y":140,"wires":[]},{"id":"b270941a6f4acc1e","type":"subflow:85ed41d1b523eda1","z":"33fd8a5866fcd1ef","name":"","env":[{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"}],"x":830,"y":840,"wires":[]},{"id":"bd376f26964a0038","type":"api-current-state","z":"e6ef61aa9f0158b5","name":"Check AC status","server":"54cc4b277fe5ce1b","version":3,"outputs":2,"halt_if":"cool","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.midea_ac_42880953518318","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":80,"wires":[["c43a0d12053302b8"],[]]},{"id":"28f1bd64a628c33b","type":"inject","z":"e6ef61aa9f0158b5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":60,"wires":[["bd376f26964a0038"]]},{"id":"c43a0d12053302b8","type":"api-call-service","z":"e6ef61aa9f0158b5","name":"Set silent mode","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"climate","service":"set_fan_mode","areaId":[],"deviceId":[],"entityId":["climate.midea_ac_42880953518318"],"data":"{\"fan_mode\": \"Silent\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":80,"wires":[[]]},{"id":"243524c7287501d6","type":"server-state-changed","z":"e6ef61aa9f0158b5","name":"Delayed timer turns off","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":100,"wires":[["bd376f26964a0038"],[]]},{"id":"4d27dc55439cb85b","type":"server-state-changed","z":"385d649a05383db8","g":"e14e33cc9b20a2bf","name":"UPS Status","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":120,"wires":[["35705c00722cc90b"]]},{"id":"c769660d21596c55","type":"subflow:85ed41d1b523eda1","z":"385d649a05383db8","g":"e14e33cc9b20a2bf","name":"","env":[{"name":"title","value":"UPS","type":"str"},{"name":"message","value":"De UPS is aan het ontladen!","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"},{"name":"critical?","type":"bool","value":"true"},{"name":"ttt","value":"","type":"str"}],"x":570,"y":100,"wires":[]},{"id":"d002b406a289fdc9","type":"subflow:85ed41d1b523eda1","z":"385d649a05383db8","g":"e14e33cc9b20a2bf","name":"","env":[{"name":"title","value":"UPS","type":"str"},{"name":"message","value":"De UPS is online!","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"},{"name":"critical?","type":"bool","value":"true"}],"x":570,"y":140,"wires":[]},{"id":"35705c00722cc90b","type":"switch","z":"385d649a05383db8","g":"e14e33cc9b20a2bf","name":"Bepaal status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OB DISCHRG","vt":"str"},{"t":"eq","v":"OL","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":120,"wires":[["c769660d21596c55"],["d002b406a289fdc9"]]},{"id":"57f673e5b28557a3","type":"inject","z":"385d649a05383db8","g":"e14e33cc9b20a2bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["2a8ffce54a21da86"]]},{"id":"2a8ffce54a21da86","type":"api-current-state","z":"385d649a05383db8","g":"e14e33cc9b20a2bf","name":"","server":"54cc4b277fe5ce1b","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ups_status_data","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":60,"wires":[["35705c00722cc90b"]]},{"id":"076e29d15a76951f","type":"server-state-changed","z":"385d649a05383db8","name":"","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"OB DISCHRG","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":380,"wires":[["41b808ac4255d91c"],[]]},{"id":"9a8328a1495b147f","type":"delay","z":"385d649a05383db8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":600,"y":460,"wires":[["befb4f8c16d92a89"]]},{"id":"41b808ac4255d91c","type":"api-current-state","z":"385d649a05383db8","name":"Get runtime","server":"54cc4b277fe5ce1b","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ups_battery_runtime","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":400,"wires":[["26a560f7536975c8"]]},{"id":"51d2b531d77809ee","type":"inject","z":"385d649a05383db8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":340,"wires":[["41b808ac4255d91c"]]},{"id":"11f2086e4586cb43","type":"debug","z":"385d649a05383db8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":360,"wires":[]},{"id":"26a560f7536975c8","type":"function","z":"385d649a05383db8","name":"","func":"var TotalTime = msg.payload/60;\nmsg.payload = \"UPS heeft nog voor \"+TotalTime+\" minuten spanning!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":400,"wires":[["11f2086e4586cb43","9d20efc3f832b2b4","9a8328a1495b147f"]]},{"id":"befb4f8c16d92a89","type":"api-current-state","z":"385d649a05383db8","name":"","server":"54cc4b277fe5ce1b","version":3,"outputs":2,"halt_if":"OB DISCHRG","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ups_status_data","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":170,"y":420,"wires":[["41b808ac4255d91c"],[]]},{"id":"9d20efc3f832b2b4","type":"subflow:85ed41d1b523eda1","z":"385d649a05383db8","name":"","env":[{"name":"title","value":"UPS","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"},{"name":"ignore","type":"bool","value":"false"},{"name":"critical?","type":"bool","value":"true"}],"x":790,"y":400,"wires":[]},{"id":"c3d91f2ee623867f","type":"server-state-changed","z":"385d649a05383db8","name":"Battery level","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":220,"wires":[["7e6eadd7045d50ee"]]},{"id":"5c10e7654dce3666","type":"subflow:85ed41d1b523eda1","z":"385d649a05383db8","name":"","env":[{"name":"title","value":"UPS","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"},{"name":"ignore","type":"bool","value":"false"}],"x":490,"y":220,"wires":[]},{"id":"7e6eadd7045d50ee","type":"function","z":"385d649a05383db8","name":"Create payload","func":"var battery = msg.payload;\nmsg.payload = \"UPS is voor \"+msg.payload+\"% opgeladen!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":220,"wires":[["5c10e7654dce3666"]]},{"id":"78f8ebbd96c8f7af","type":"server-state-changed","z":"57ce8cd6577bd517","d":true,"g":"68fbcc91e05cdd81","name":"","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"fout","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":180,"wires":[["fdf4152add7643a6"],[]]},{"id":"fdf4152add7643a6","type":"subflow:85ed41d1b523eda1","z":"57ce8cd6577bd517","g":"68fbcc91e05cdd81","name":"","env":[{"name":"title","value":"Rob","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"},{"name":"ignore","type":"bool","value":"false"}],"x":650,"y":180,"wires":[]},{"id":"83404de2c2fa66d4","type":"inject","z":"57ce8cd6577bd517","g":"68fbcc91e05cdd81","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["a856af6fa759564e"]]},{"id":"a856af6fa759564e","type":"api-current-state","z":"57ce8cd6577bd517","g":"68fbcc91e05cdd81","name":"","server":"54cc4b277fe5ce1b","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"vacuum.henk","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":100,"wires":[["fdf4152add7643a6","91fa4e4d88e1d80a"]]},{"id":"188506382b35a36d","type":"e-mail","z":"57ce8cd6577bd517","g":"68fbcc91e05cdd81","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"toppe@toppe.nl","dname":"Mailtje","x":630,"y":80,"wires":[]},{"id":"399554d66e04e253","type":"server-state-changed","z":"57ce8cd6577bd517","g":"8a80517b718cac99","name":"Check for rain","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"1","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":280,"wires":[[],["ef9f3f794af681be"]]},{"id":"ef9f3f794af681be","type":"api-current-state","z":"57ce8cd6577bd517","g":"8a80517b718cac99","name":"Check current state of Henk","server":"54cc4b277fe5ce1b","version":3,"outputs":2,"halt_if":"cleaning","halt_if_type":"str","halt_if_compare":"is","entity_id":"vacuum.henk","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":280,"wires":[["da1b36df1928cbb4"],[]]},{"id":"da1b36df1928cbb4","type":"api-call-service","z":"57ce8cd6577bd517","g":"8a80517b718cac99","name":"Order Henk to go home","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"vacuum","service":"return_to_base","areaId":[],"deviceId":[],"entityId":["vacuum.henk"],"data":"{}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":280,"wires":[[]]},{"id":"91fa4e4d88e1d80a","type":"debug","z":"57ce8cd6577bd517","g":"68fbcc91e05cdd81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"579d80ebdc3448d9","type":"server-state-changed","z":"ba23f943061d18c1","name":"Delayed timer switched on","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1110,"y":100,"wires":[["b18af1ea3d1d0cb4"],[]]},{"id":"b18af1ea3d1d0cb4","type":"delay","z":"ba23f943061d18c1","name":"Wait 15 minutes","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1340,"y":100,"wires":[["f891deea806f6e6c"]]},{"id":"f891deea806f6e6c","type":"api-call-service","z":"ba23f943061d18c1","name":"Switch delayed timer off","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.10_minuten_uitstel"],"data":"{}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1570,"y":100,"wires":[[]]},{"id":"8a5c2308745edc76","type":"cronplus","z":"ba23f943061d18c1","name":"Daily at 19:30","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"30 19 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":140,"y":480,"wires":[[]]},{"id":"5500ad26861a3bd9","type":"server-state-changed","z":"cc33deae09e93cdb","g":"148112d6d372679e","name":"Verkrijg batterij percentage","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"25","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":240,"wires":[["62e67ffd288c9316"],[]]},{"id":"50802c1c76405452","type":"api-current-state","z":"cc33deae09e93cdb","g":"3cfdfdfdf372d50c","name":"Get trash type","server":"54cc4b277fe5ce1b","version":3,"outputs":2,"halt_if":"none","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"sensor.afvalinfo_trash_type_tomorrow","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":480,"wires":[["fb092eaa26917148"],[]]},{"id":"d732ecb364e953a9","type":"cronplus","z":"cc33deae09e93cdb","g":"3cfdfdfdf372d50c","name":"Daily at 19:30","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"30 19 * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":140,"y":480,"wires":[["50802c1c76405452"]]},{"id":"28231bb4a27f0ff0","type":"server-state-changed","z":"cc33deae09e93cdb","g":"200be68cebd586fd","name":"Check for update","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":700,"y":240,"wires":[["901ca7638ea1c916"],[]]},{"id":"fb092eaa26917148","type":"function","z":"cc33deae09e93cdb","g":"3cfdfdfdf372d50c","name":"Set properties","func":"if(msg.payload == \"pmd\"){\n    msg.payload = \"Let op, morgen moet het plastic aan straat.\"\n} else {\n    msg.payload = \"Let op, morgen moet de \"+msg.payload+\" bak aan straat.\"\n}\nmsg.action = {\n    action: \"SET_TRASH_REMINDER\",\n    title: \"Herinner mij\",\n    icon: \"sfsymbols:alarm\",\n    destructive: false,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":480,"wires":[["f0c6703a4e674cee"]]},{"id":"372fe1cf15fa4782","type":"server-events","z":"cc33deae09e93cdb","g":"3cfdfdfdf372d50c","name":"Check for response","server":"54cc4b277fe5ce1b","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":150,"y":600,"wires":[["aa83e69f4bda57fb"]]},{"id":"aa83e69f4bda57fb","type":"switch","z":"cc33deae09e93cdb","g":"3cfdfdfdf372d50c","name":"Check properties","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"SET_TRASH_REMINDER","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":600,"wires":[["b17e71e6e2012981"]]},{"id":"b17e71e6e2012981","type":"api-call-service","z":"cc33deae09e93cdb","g":"3cfdfdfdf372d50c","name":"Turn on reminder","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.reminder_voor_container"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":600,"wires":[[]]},{"id":"c5f068e7f51618c2","type":"server-state-changed","z":"cc33deae09e93cdb","g":"3cfdfdfdf372d50c","name":"Container","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":540,"wires":[["f0414acbada27bdd"],[]]},{"id":"f0414acbada27bdd","type":"delay","z":"cc33deae09e93cdb","g":"3cfdfdfdf372d50c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":270,"y":540,"wires":[["f6dcb11404dabd19","50802c1c76405452"]]},{"id":"f6dcb11404dabd19","type":"api-call-service","z":"cc33deae09e93cdb","g":"3cfdfdfdf372d50c","name":"Turn off remminder","server":"54cc4b277fe5ce1b","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.reminder_voor_container"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":540,"wires":[[]]},{"id":"584446c20a324351","type":"server-state-changed","z":"cc33deae09e93cdb","g":"cf0a2a78d3d9302c","name":"Check Sureflap hub status","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":360,"wires":[["6823e0ddda1e8d62"],["c595d2e551807379"]]},{"id":"800bb022c9270f43","type":"server-state-changed","z":"cc33deae09e93cdb","d":true,"g":"200be68cebd586fd","name":"Check for update","server":"54cc4b277fe5ce1b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.10_minuten_uitstel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":700,"y":280,"wires":[["7a87c077fc79bee7"],[]]},{"id":"62e67ffd288c9316","type":"subflow:85ed41d1b523eda1","z":"cc33deae09e93cdb","g":"148112d6d372679e","name":"","env":[{"name":"title","value":"Kattenluik","type":"str"},{"name":"message","value":"Batterij van het kattenluik zit onder de 25%. Vervang deze met C batterijen.","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"}],"x":450,"y":240,"wires":[]},{"id":"6823e0ddda1e8d62","type":"subflow:85ed41d1b523eda1","z":"cc33deae09e93cdb","g":"cf0a2a78d3d9302c","name":"","env":[{"name":"title","value":"Sureflap","type":"str"},{"name":"message","value":"De sureflap hub is offline!","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"}],"x":390,"y":340,"wires":[]},{"id":"c595d2e551807379","type":"subflow:85ed41d1b523eda1","z":"cc33deae09e93cdb","g":"cf0a2a78d3d9302c","name":"","env":[{"name":"title","value":"Sureflap","type":"str"},{"name":"message","value":"De sureflap hub is weer online!","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"}],"x":390,"y":380,"wires":[]},{"id":"f0c6703a4e674cee","type":"subflow:85ed41d1b523eda1","z":"cc33deae09e93cdb","g":"3cfdfdfdf372d50c","name":"","env":[{"name":"title","value":"Afval","type":"str"},{"name":"user","value":"ALL_IPHONES","type":"str"},{"name":"audio","value":null,"type":"str"},{"name":"ignore","type":"bool","value":"false"}],"x":710,"y":480,"wires":[]},{"id":"901ca7638ea1c916","type":"subflow:85ed41d1b523eda1","z":"cc33deae09e93cdb","g":"200be68cebd586fd","name":"","env":[{"name":"title","value":"Updates!","type":"str"},{"name":"message","value":"Er is een nieuwe update voor Home Assistant beschikbaar.","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"}],"x":890,"y":240,"wires":[]},{"id":"7a87c077fc79bee7","type":"subflow:85ed41d1b523eda1","z":"cc33deae09e93cdb","g":"200be68cebd586fd","name":"","env":[{"name":"title","value":"Updates!","type":"str"},{"name":"message","value":"Er zijn nieuwe updates binnen HACS beschikbaar.","type":"str"},{"name":"user","value":"ALL_DEVICES","type":"str"},{"name":"audio","value":null,"type":"str"}],"x":890,"y":280,"wires":[]}]